<div class="box">
  <nav>
    <ul>
      <li><a routerLink="subject" routerLinkActive="active">Subject</a></li>
      <li><a routerLink="behavior-subject" routerLinkActive="active">BehaviorSubject</a></li>
      <li><a routerLink="replay-subject" routerLinkActive="active">ReplaySubject</a></li>
      <li><a routerLink="async-subject" routerLinkActive="active">AsyncSubject</a></li>
      <li><a routerLink="combination" routerLinkActive="active">Combination</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
