<ng-container *ngIf="value > 0">
  <div [ngClass]="{ 'more': isMore }">父组件的值：{{value}}</div>
</ng-container>
<div [ngSwitch]="value">
  <div *ngSwitchCase="0">A</div>
  <div *ngSwitchCase="1">B</div>
  <div *ngSwitchDefault>S</div>
</div>
<ng-template #templateRef>
  <div>未初始化</div>
</ng-template>
<div *ngIf="value > 0; else elseTemplate">已初始化</div>
<ng-template #elseTemplate>
  <ng-container *ngTemplateOutlet="templateRef"></ng-container>
</ng-template>

<div class="card-set">
  <app-card>
    <div header>
      <h3>卡片标题</h3>
    </div>
    <p #content>卡片内容</p>
    <div footer>
      <button>卡片底部</button>
    </div>
  </app-card>
</div>
